.venv/
/media/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.mo
*.swp
.DS_Store
*.JPG
# except wild-basin-hero.jpg
!wild-basin-hero.jpg

# Django media cache
wildlife_viewer/media/
media/

.env